*.class

# Package Files #
*.jar
*.war
*.ear

.gradle/**
bin/**
target/**
tmp/**
tmp/**/*
build
target
bin
out

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

*.tmp
*.bak
*.swp
